body{
    font-family: Arial, Helvetica, sans-serif;
}

 .dados-pessoais{
    display: flex;
    flex-direction: column;
    height: 200%;
    width: 350px;
    padding: 15px;
    margin: 10px;
    background-color: blanchedalmond;
}

.dados-pessoais > input{
    width: 300px;
    height: 20px;
    padding: 4px;
    margin: 10px;
    outline: none;
}

.dados-pessoais > label{
    margin: 10px;
}
 
.dados-agendamento{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
     height: 200%;
    width: 350px;
    padding: 15px;
    margin: 10px;
}

.dados-agendamento > input{
    outline: none;
    padding: 5px;
    margin: 10px;
}