 @charset "UTF-8";

/* Import das fontes */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* VARIÁVEIS */
:root {
    --cor1: #c88c8e; 
    --cor2: #734440;
    --cor3: #bf93be;
    --cor4: #a67272;
    /*usar*/
    --cor5: #EDB8AE;
    --cor6: #C89991;
    
    --fonte-logo: "Great Vibes", cursive;
    --fonte-titulo: "Cinzel", serif;
    --fonte-texto: "Nunito", sans-serif;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--fonte-texto);
    background-color: #fafafa;
}

.clientes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;

    display: flex;
    align-items: stretch;
    gap: 20px;

    border: var(--cor5) 8px solid;
    border-radius: 60px;
    background-color: #fff;
}

/* BLOCO LOGIN / CADASTRO */
.clientes > .contra{
    margin: 0;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* FORM */
.clientes > .contra > form{
    display: flex;
    flex-direction: column;
}

/* INPUTS */
.clientes > .contra > form > input{
    margin: 6px 0 14px 0;
    padding: 10px;
    font-size: 18px;
    border: #000 2px solid;
    outline: none;
    width: 260px;
    border-radius: 10px;
}

/* BOTÃO */
.clientes > .contra > form > button{
    width: 160px;
    height: 42px;
    margin-top: 20px;
    align-self: center;

    font-size: 22px;
    font-family: var(--fonte-titulo);

    border-radius: 100px;
    background-color: var(--cor6);
    cursor: pointer;
}

/* ANIMAÇÃO */
.clientes > #animacao{
    width: 370px;
    min-height: 100%;
    background-color: aqua;
    border-radius: 40px;
}



/* PAINEL ANIMADO */
#animacao{
    position: absolute;
    top: 0;
    left: 0;

    width: 180px;
    height: 100%;

    background-color: aqua;
    border-radius: 40px;

    transition: transform 0.6s ease;
}

/* QUANDO FOR PARA CADASTRO */
.clientes.ativo #animacao{
    transform: translateX(100%);
}
