 @charset "UTF-8";

/* Import das fontes */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* VARIÁVEIS */
:root {
    --cor1: #c88c8e; 
    --cor2: #734440;
    --cor3: #bf93be;
    --cor4: #a67272;
    --cor5: #c89991;

    --fonte-logo: "Great Vibes", cursive;
    --fonte-titulo: "Cinzel", serif;
    --fonte-texto: "Nunito", sans-serif;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--fonte-texto);
    background-color: #fafafa;
}

/* Cabeçalho */
.cabeca {
  background-color: var(--cor4);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.cabeca h1 {
  color: white;
  font-family: var(--fonte-titulo);
  font-size: 28px;
}

/* MENU LATERAL */
.menu {
  border-right: 2px solid #ddd;
  width: 220px;
  height: calc(100vh - 100px);
  position: fixed;
  top: 100px;
  left: 0;
  padding: 20px;
  background-color: #fff;
}

.menu button {
   width: 100%;
   padding: 15px;
   border: none;
   background: none;
   text-align: left;
   font-size: 18px;
   cursor: pointer;
   border-bottom: 1px solid #eee;
}

.menu button.active {
   background: #d19a9a;
   color: white;
}

/* ÁREA DE CONTEÚDO */
.conteudo {
   margin-left: 240px; /* dá espaço para o menu */
   padding: 20px;
}

.tela {
   display: none;
}

.tela.ativa {
   display: block;
}
 /* CONTAINER DE SERVIÇOS */
#servicos {
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;

    padding: 25px;
    margin-top: 20px;

    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    position: relative;
}

/* TÍTULOS */
.titulo-servicos {
    font-family: var(--fonte-titulo);
    font-size: 28px;
    margin-bottom: 10px;
    color: var(--cor2);
}

.subtitulo-servicos {
    font-family: var(--fonte-texto);
    font-size: 18px;
    color: #444;
    margin-bottom: 20px;
}

/* ÁREA DOS CARDS */
#servicos-area {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* BOTÃO FLUTUANTE (FAB) */
#fab {
    position: fixed;
    bottom: 25px;
    right: 25px;

    width: 55px;
    height: 55px;

    border: none;
    cursor: pointer;

    font-size: 28px;
    color: white;

    border-radius: 50%;
    background-color: var(--cor2);
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);

    transition: 0.2s;
}

/* efeito ao passar o mouse */
#fab:hover {
    background-color: var(--cor1);
    transform: scale(1.1);
}
